* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#footer {
    margin-top: auto;
}


.wireGalleryWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.wireSingle {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 140px;
    margin-top: 20px;
    cursor: pointer;
}

.wireSingle img {
    max-width: 100%;
}

.wireSingle img:hover {
    transform: scale(1.04);
    opacity: 0.8;
}


.wireSliderWrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;

}

.wireBtnClose,
.wireBtnPrev,
.wireBtnNext {
    position: absolute;
    cursor: pointer;
    opacity: 0.8;
    color: #fff;
    z-index: 10001;
    font-size: 2rem;
    transition: opacity 0.3s ease;
}

.wireSliderWrap .wireBtnClose,
.wireSliderWrap .wireBtnPrev,
.wireSliderWrap .wireBtnNext {
    opacity: 1;
}

.wireBtnClose {
    top: 5%;
    right: 5%;
    height: 35px;
}

.wireBtnPrev {
    left: 5%;
    height: 35px;
}

.wireBtnNext {
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    height: 35px;

}


.buttonCapabilities {
    margin-bottom: 2%;
    color: #ffff;
    background-color: #054161;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
}

.buttonCapabilities:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.05);
}

.textCapabilities {
    color: #054161;
    margin-left: 2%;
}

.wirefullScreenImage {
    width: 60%;
}

.img-custom-size img {
    width: 300px;
}


@media (max-width: 1423px) {
    .wireBtnNext {
        transform: translateY(-50%);
        right: 5%;
        height: 35px;
    }

    .wireBtnPrev {
        height: 35px;
        left: 5%;

    }

    .wireBtnClose {
        top: 10%;
        right: 5%;
    }
}

@media (max-width: 768px) {
    .wireBtnClose {
        top: 25%;
        height: 30px;
    }

    .wireBtnNext {
        height: 25px;
    }

    .wireBtnPrev {
        height: 25px;
    }
}



@media (max-width: 500px) {
    .wireBtnClose {
        top: 15%;
        right: 3%;
    }

    .wireBtnNext {
        right: 3%;
    }

    .wireBtnPrev {
        left: 3%;
    }

    .wirefullScreenImage {
        width: 75%;
    }

    .wireSingle {
        width: 120px;
        height: 100px;
        margin-top: 20px;
    }

}